div.hero {
    min-height: calc(100vh - 56px);
    background-image: url('/static/img/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

div.hero .content {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: calc(100vh - 56px);
    flex-direction: column;
}

div.hero .content h1 {
    /* font-weight: bold; */
    letter-spacing: 0.6rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.4rem;
}