{% extends 'base.html' %}
{% block title %} Articles {% endblock title %}

{% block content %}

    {% for article in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    {{ article.title }}
                </span>
                &middot;

                <span class="text-mutted">
                    by {{article.author}} | {{article.date}}
                </span>
            </div>

            <div class="card-body">
                {{article.body}}

                {% if user.isauthenticated %}
                <br>
                <a href="{% url 'article_edit' article.pk %}" class="btn btn-outline-info btn-sm mt-3">Edit</a>
                <a href="{% url 'article_delete' article.pk %}" class="btn btn-outline-danger btn-sm mt-3">Delete</a>
                {% endif %}
            </div>
            
            <div class="card-footer text-center text-mutted">
                {% for comment in article.comments.all %}
                <p>
                        <span class="font-weight-bold">
                            {{comment.author}} &middot;
                        </span>
                        {{comment}}
                    </p>
                {% endfor %}
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock content %}